/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); */
/*For reference:
 * chrome://browser/skin/browser.css
 * chrome://global/skin/dropmarker.css
 * chrome://browser/skin/compacttheme.css
 * chrome://global/skin/toolbar.css
 * chrome://global/skin/global.css
 * chrome://global/locale/intl.css
 * chrome://global/content/xul.css
 * chrome://global/content/minimal-xul.css
 */
* {
	/*My own variables, from the Breeze-Dark theme*/
	--ui-basecolor: #31363B;
	--ui-background: #232629;
	--ui-darkcolor: #171A1C;
	--ui-accent: #3DAEE9;
	--ui-lighter: #2A2E32;
	--ui-emphasis: rgba(147, 206, 233, 0.8);
	--ui-border: #616569;
	--ui-lightest: #A5AEB3;
	--ui-faded_text: #818C91;
	--tab-icon-dimension: 14px !important;
	--compact-urlbar-min-height: 24px;
	/* I collapse the tabbar, but tabs themselves shouldn't collapse. */
	--tab-min-height: 26px !important;
	--space-above-tabbar: 0 !important;
	--toolbar-bgcolor: var(--ui-basecolor) !important;
	--toolbar-bgimage: none !important;
	--lwt-accent-color: var(--ui-accent) !important;
	--chrome-background-color: var(--ui-basecolor) !important;
	--tab-selection-background-color: var(--ui-basecolor) !important;
	--tab-border-radius: 0 !important;
	--chrome-secondary-background-color: var(--ui-darkcolor) !important;
	--chrome-content-separator-color: var(--ui-basecolor) !important;
	--url-and-searchbar-background-color: transparent !important;
	--chrome-selection-background-color: var(--ui-accent) !important;
	--tab-loading-fill: var(--ui-accent) !important;
	--autocomplete-popup-background: var(--ui-background) !important;
	--arrowpanel-background: var(--ui-background) !important;
	--tabs-border: transparent !important;
	--toolbox-border-bottom-color: none !important;
	--toolbarbutton-hover-background: var(--ui-basecolor) !important;
	--toolbarbutton-active-background: var(--ui-accent) !important;
	--lwt-toolbarbutton-active-background: var(--toolbarbutton-hover-background) !important;
	--lwt-toolbarbutton-hover-background: var(--toolbarbutton-hover-background) !important;
	--lwt-toolbar-field-background-color: var(--ui-background) !important;
	--proton-tab-block-margin: 0;
	--urlbar-toolbar-height: 28px !important;
	--toolbarbutton-height: 26px !important;
	--urlbar-height: 24px !important;
	--toolbarbutton-inner-padding: 4px !important;
}
#tabbrowser-tabs[haspinnedtabs] {
	max-height: var(--tab-min-height) !important;
}


.autocomplete-richlistitem .ac-url {
	color: var(--ui-faded-text) !important;
}

toolbar {
	max-height: var(--urlbar-toolbar-height) !important;
}

.toolbarbutton-icon {
	padding: 0 !important;;
	height: 16px !important;
}

#urlbar,
#searchbar,
.findbar-textbox {
	border-color: var(--ui-border) !important;
}
#urlbar,
#searchbar,
findbar {
	--toolbarbutton-border-radius: 0px !important;
	transition: 0.1s;
	transition-property: border-color;
	background-image: none !important;
	box-shadow: none !important;
	min-height: var(--compact-urlbar-min-height) !important;
}

#urlbar[focused],
.findbar-textbox[focused],
.searchbar-textbox[focused] {
	border-color: var(--ui-accent) !important;
}

  /* Compute new position, width, and padding */

  #urlbar[breakout][breakout-extend] {
    top: 2px !important;
    left: 0px !important;
    width: 100% !important;
    padding: 0px !important;
  }

  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 0 !important;
  }

  /* Do not animate */

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    animation: none !important;;
  }

  /* Remove shadows */

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: none !important;
  }

/*** END Firefox 77 (June 2, 2020) Override URL bar enlargement ***/


#urlbar-input-container {
	height: 100% !important;
	/* padding-top: 1px !important; */
	padding-bottom: 0 !important;
	padding-block: 0 !important;
	padding-inline: 0 !important;
}

.tab-background,
.tab-stack,
.tabbrowser-tab {
	border: none !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 0px !important;
}

.tabbrowser-tab {
	padding-inline: 0 !important;
	margin: 0 !important;
}
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}

/* Center all inside tab */
.tab-content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100% !important;
	padding: 0 10px !important;
	margin-top: -1px !important;
}

/*hide stuff*/
#context-sendpagetodevice, #context-sep-sendpagetodevice, #context-sep-sendlinktodevice, #context_sendTabToDevice, #context_sendTabToDevice_separator,
.search-one-offs,
#appMenu-fxa-container, #appMenu-fxa-container+toolbarseparator, #appMenu-update-available-notification,
#PanelUI-menu-button, /* Proton */
#whats-new-menu-button,
#identity-icon-labels, #identity-icon,
#userContext-indicator.identity-icon-circle, #tabContextMenu .menu-iconic-icon,
#userContext-indicator[data-identity-icon="circle"]
{
	display: none !important;
}
/*Tabs on bottom*/

#TabsToolbar,
.tabbrowser-tab .tab-line {
	-moz-box-ordinal-group: 2 !important;
}
#nav-bar {
	-moz-box-ordinal-group: 0 !important;
}
#navigator-toolbox {
	-moz-box-ordinal-group: 1 !important;
	background-color: none !important;
}

/*Remove extra 1px space before 1st tab and after last tab*/

.tabbrowser-tab[first-tab="true"] .tab-background {
	border-left-width: 0 !important;
}

.tabbrowser-tab[first-tab="true"]::before, .tabbrowser-tab[last-tab="true"]::after {
	display: none !important;
	border-color: transparent !important;
	border-image: none !important;
}

.tabbrowser-tab[last-tab="true"] .tab-background {
	border-right-width: 0 !important;
}


/*tab-line is to bright. Reduce its opacity a bit*/

.tabbrowser-tab .tab-line {
	opacity: 0.75 !important;
}

.tabbrowser-tab[selected] .tab-content {
	border-bottom: 2px solid var(--ui-accent) !important;
	margin-top: 1px !important;
}
.tabbrowser-tab[usercontextid] .tab-content {
	border-bottom: 2px solid var(--identity-tab-color) !important;
	margin-top: 1px !important;
}
.tabbrowser-tab:not([selected]):not([usercontextid]) .tab-content {
	border-bottom: none !important;
	margin-top: -1px !important;
}
.tabbrowser-tab:not([selected]):not([usercontextid]):hover .tab-content {
	border-bottom: 2px solid var(--ui-basecolor) !important;
	margin-top: 1px !important;
}
.tabbrowser-tab:not([selected]) .tab-content {
	opacity: 0.85 !important;
}
.tabbrowser-tab[pending="true"] .tab-content {
	opacity: 0.5 !important;
}

/*Fatten selected line when hovered*/
.tabbrowser-tab[selected]:hover .tab-line {
	height: 3px !important;
	opacity: 1 !important;
}

/*Hide new tab favicon*/

.tabbrowser-tab[label="New Tab"] .tab-icon-image {
	display: none !important;
}

/*----Container tweaks----*/

/*hide the circle icon in the URL bar and color the indicator*/

#userContext-icons {
	background: var(--identity-tab-color) !important;
	margin: auto 3px !important;
	padding: 0 2px 0 5px !important;
	height: calc(var(--compact-urlbar-min-height) - 2px)
}

#userContext-label {
	color: #fff !important;
}

#userContext-indicator {
	fill: #fff !important;
	margin-right: 2px!important;
}

/*Color mods*/

/*Change the color of the tab line of container tabs*/
.tabbrowser-tab:not([usercontextid]) .tab-line[selected="true"] {
	--tab-line-color: var(--ui-accent) !important;
}

.tabbrowser-tab[usercontextid] .tab-line {
	--tab-line-color: var(--identity-tab-color) !important;
}
.tabbrowser-tab[usercontextid]:not([selected]):hover .tab-line {
	opacity: 0.5 !important;
	background-color: var(--identity-tab-color) !important;
}

/*Color the tab throbber and tab burst*/

.tabbrowser-tab[usercontextid] {
	--tab-loading-fill: var(--identity-tab-color) !important;
}

/*Hide the standard container indicators of unfocused tabs*/
.tabbrowser-tab:hover .tab-bottom-line,
.tabbrowser-tab[selected] .tab-bottom-line {
	display: none !important;
}

/*Make tab bottom line less distracting*/

.tab-bottom-line {
	opacity: 0.4 !important;
	margin-bottom: -2px !important;
	padding: 0 !important;
}

/*More compact sidebar header*/

#sidebar-box #sidebar-header {
	padding: 0 !important;
	margin-left: 0 !important;
	font-size: 1.15em !important;
	line-height: 1em !important;
	font-weight: inherit !important;
	border-bottom-color: transparent !important;
}

#sidebar-box #sidebar-header #sidebar-icon {
	opacity: 0 !important;
	width: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

#sidebar-box #sidebar-header #sidebar-switcher-target {
	margin-left: -2px !important;
	padding: 0 !important;
}

.sidebar-splitter {
	width: 3px !important;
	border-color: var(--ui-darkcolor) !important;
	background-color: var(--ui-darkcolor) !important;
}

.box-inherit .scrollbox-innerbox {
	margin-right: 0 !important;
	border: none !important;
	background-color: var(--ui-basecolor) !important;
}

/* Allow arrowscrollbox to collapse when only one tab is visible */

#tabbrowser-tabs,
#tabbrowser-tabs arrowscrollbox,
#TabsToolbar {
	height: initial !important;
	min-height: initial !important;
	padding-inline-start: 0 !important;
	padding-inline-end: 0 !important;
	background-color: var(--arrowpanel-background) !important;
	/* max-height: calc(var(--tab-min-height)+2) !important; */
}

/* bring back tab separators */
#tabbrowser-tabs {
	margin-inline-start: -1px !important;
}
:is(:root[sizemode='normal'], :root[gtktiledwindow='true']) .tabbrowser-tab:first-of-type {
  margin-inline-start: 1px !important;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-inline-start: 1px solid var(--ui-border);
}
.tabbrowser-tab::before {
  margin-inline-start: -1px;
}


#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab] .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after,
.tabbrowser-tab[visuallyselected]::before {
	border: none;
  margin-block-start: 0;
  /* margin-block-end: var(--tabs-navbar-shadow-size); */
}

.tabbrowser-tab::after,
.tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab:first-of-type::before,
#tabbrowser-tabs[movingtab] .tabbrowser-tab[visuallyselected]::before {
  content: '';
  display: block;
}

/* Keep tab height from collapsing due to the above */
/* tab > stack { */
/* 	height: var(--tab-min-height) !important; */
/* } */

/*Disable White Flash of Death*/
#browser vbox#appcontent tabbrowser,
#content,
browser[type="content-primary"],
tabbrowser-tabpanels,
browser[type=content-primary],
#appcontent > #content,
browser[type=content] > html,
browser[type=content],
#main-window,
.browserContainer {
	background-color: var(--ui-background) !important;
}

/*--More options for Bookmark panel--*/

#editBMPanel_descriptionRow,
#editBMPanel_keywordRow,
#editBMPanel_loadInSidebarCheckbox,
#editBMPanel_locationRow {
	visibility: visible;
}

/* compact arrowscrollbox */
#scrollbuton-up, #scrollbutton-down,
#alltabs-button .toolbarbutton-badge-stack,
#alltabs-button {
	max-height: var(--tab-min-height) !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
#tabbrowser-arrowscrollbox::part(scrollbutton-up), #tabbrowser-arrowscrollbox::part(scrollbutton-down) {
	border: none !important;
}

/* don't make the tab bar fatter when the scrollbox is activated*/
#TabsToolbar-customization-target {
	height: var(--tab-min-height) !important;
}

/*
 * Compact findbar at the top of the window
 * Based on code by Madis0@github.com
 */

.browserContainer > findbar {
	background-color: var(--ui-basecolor) !important;
	-moz-box-ordinal-group: 0;
	position: fixed !important;
	right: 0em;
	border: 1px solid var(--chrome-content-separator-color) !important;
	border-top: none !important;
	/* Hide top border by removing the box-shadow and background-image */
	/* border-top: none !important; */
	box-shadow: none !important;
	background-image: none !important;
	opacity: 0.9;
	/* Uncomment to add a transition from the top */
	transition: 400ms !important;
	z-index: 0 !important;
}
.findbar-find-next,
.findbar-find-previous {
	background: transparent !important;
	color: inherit !important;
}

/* Aligns the close button to the center */

.findbar-closebutton {
	margin-inline-start: 0.5em !important;
	vertical-align: middle !important;
	margin-bottom: 0.25em !important;
	height: inherit !important;
}

/* Prevent tab icons size breaking */
.tab-icon-image, .tab-icon-sound, .tab-throbber, .tab-throbber-fallback, .tab-close-button {
	min-width: var(--tab-icon-dimension) !important;
	width: var(--tab-icon-dimension) !important;
	height: var(--tab-icon-dimension) !important;
}

/*findbar[hidden]{ margin-top: -2em !important; }*/
/*make tabs wider*/
.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 100% !important;
}

/* Fix autocomplete being below the active tab */

.tabbrowser-tab[visuallyselected="true"] {
	z-index: 0 !important;
}
