/* Import any webextension tweaks here - Example Shown below */
/* IMPORTANT: change the Internal UUID in the corresponding css file */
:root {
	--primary-dark-color: #31363B;
	/* Color of FF dark theme nav-bar */
	--primary-light-color: #A1A5A0;
	/* Off white */
	--light-accent-color: #616569;
	/* Slightly darker off white */
	--dark-accent: var(--primary-accent-color-dark);
	/* darker shade of main color */
	--mid-way-color: #404B4F;
	/* inbetween main dark and light color */
	--primary-accent-color: #3DAEE9;
	--primary-accent-color-dark: #2A2E32;
	/* Darker cyan color */
	--dark-background: #232629;
	--in-content-page-color: var(--primary-light-color) !important;
	--in-content-page-background: var(--dark-background) !important;
	--in-content-text-color: var(--primary-light-color) !important;
	--in-content-selected-text: var(--primary-light-color) !important;
	--in-content-box-background: var(--primary-dark-color) !important;
	--in-content-box-background-odd: var(--light-accent-color) !important;
	--in-content-box-background-hover: var(--dark-accent) !important;
	--in-content-box-background-active: var(--dark-accent) !important;
	--in-content-box-border-color: var(--primary-dark-color) !important;
	--in-content-item-hover: var(--dark-accent) !important;
	--in-content-item-selected: var(--dark-accent) !important;
	--in-content-border-highlight: var(--dark-accent) !important;
	--in-content-border-focus: var(--dark-accent) !important;
	--in-content-border-color: var(--primary-dark-color) !important;
	--in-content-category-outline-focus: 1px dotted var(--dark-accent) !important;
	--in-content-category-text: var(--primary-light-color) !important;
	--in-content-category-text-active: var(--primary-light-color) !important;
	--in-content-category-text-selected: var(--primary-accent-color) !important;
	--in-content-category-text-selected-active: var(--primary-accent-color-dark) !important;
	--in-content-category-background-selected-hover: var(--primary-dark-color) !important;
	--in-content-category-background-selected-active: var(--primary-dark-color) !important;
	--in-content-link-color: var(--primary-accent-color) !important;
	--in-content-link-color-hover: var(--primary-accent-color-dark) !important;
	--in-content-link-color-visited: var(--dark-accent) !important;
	--in-content-primary-button-background: var(--dark-accent) !important;
	--in-content-primary-button-background-hover: var(--primary-accent-color-dark) !important;
	--in-content-primary-button-background-active: var(--primary-accent-color-dark) !important;
	--in-content-table-header-background: var(--dark-accent) !important;
	--in-content-category-background: var(--primary-dark-color) !important;
	--grey-10: #f9f9fa;
	--grey-20: #ededf0;
	--grey-30: #d7d7db;
	--grey-40: #b1b1b3;
	--grey-50: #737373;
	--grey-60: #4a4a4f;
	--grey-70: #38383d;
	--grey-80: #2a2a2e;
	--grey-90: #0c0c0d;
	--tone-1: var(--grey-10);
	--tone-2: var(--grey-20);
	--tone-3: var(--grey-30);
	--tone-4: var(--grey-40);
	--tone-5: var(--grey-50);
	--tone-6: var(--grey-60);
	--tone-7: var(--grey-70);
	--tone-8: var(--grey-80);
	--tone-9: var(--grey-90);
	--theme-selection-background: var(--dark-accent)!important;
	--theme-selection-background-hover: var(--mid-way-color)!important;
	--in-content-category-header-background: var(--primary-accent-color-dark)!important;
	--selected-icon-fill-color: var(--tone-2)!important;
	--in-content-dark-header-background: var(--tone-9)!important;
}

@-moz-document url-prefix(view-source) {
  :root {
    background-color: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important
  }
  pre[id]:before,
  span[id]:before {
    color: var(--in-content-page-color)!important
  }
  .highlight .end-tag,
  .highlight .start-tag {
    color: var(--theme-highlight-purple)!important
  }
  .highlight .comment {
    color: var(--theme-highlight-green)!important
  }
  .highlight .cdata {
    color: #c06!important
  }
  .highlight .doctype {
    color: #4682b4!important
  }
  .highlight .pi {
    color: var(--theme-highlight-red)!important
  }
  .highlight .entity {
    color: #dea174!important
  }
  .highlight .attribute-name {
    color: var(--theme-highlight-green)!important
  }
  .highlight .attribute-value {
    color: var(--theme-highlight-blue)!important
  }
  .highlight .markupdeclaration {
    color: #4682b4!important
  }
  .highlight .error,
  .highlight .error > :-moz-any(.start-tag,.end-tag,.comment,.cdata,.doctype,.pi,.entity,.attribute-name,.attribute-value) {
    color: #de7474!important
  }
}
