/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); */
/*For reference:
 * chrome://browser/skin/browser.css
 * chrome://global/skin/dropmarker.css
 * chrome://browser/skin/compacttheme.css
 * chrome://global/skin/toolbar.css
 * chrome://global/skin/global.css
 * chrome://global/locale/intl.css
 * chrome://global/content/xul.css
 * chrome://global/content/minimal-xul.css
 */
* {
	/*My own variables, from the Breeze-Dark theme*/
	--ui-basecolor: #31363B;
	--ui-background: #232629;
	--ui-darkcolor: #171A1C;
	--ui-accent: #3DAEE9;
	--ui-lighter: #2A2E32;
	--ui-emphasis: rgba(147, 206, 233, 0.8);
	--ui-border: #616569;
	--ui-lightest: #A5AEB3;
	--ui-faded_text: #818C91;
	--tab-icon-dimension: 14px;
	--compact-urlbar-min-height: 26px;
	/* I collapse the tabbar, but tabs themselves shouldn't collapse. */
	--tab-min-height: 26px !important;
	--space-above-tabbar: 0 !important;
	--toolbar-bgcolor: var(--ui-basecolor) !important;
	--toolbar-bgimage: none !important;
	--lwt-accent-color: var(--ui-accent) !important;
	--chrome-background-color: var(--ui-basecolor) !important;
	--tab-selection-background-color: var(--ui-basecolor) !important;
	--chrome-secondary-background-color: var(--ui-darkcolor) !important;
	--chrome-content-separator-color: var(--ui-basecolor) !important;
	--url-and-searchbar-background-color: transparent !important;
	--chrome-selection-background-color: var(--ui-accent) !important;
	--tab-loading-fill: var(--ui-accent) !important;
	--autocomplete-popup-background: var(--ui-background) !important;
	--arrowpanel-background: var(--ui-background) !important;
	--tabs-border: transparent !important;
	--toolbox-border-bottom-color: none !important;
	--toolbarbutton-hover-background: var(--ui-basecolor) !important;
	--toolbarbutton-active-background: var(--ui-accent) !important;
	--lwt-toolbarbutton-active-background: var(--toolbarbutton-hover-background) !important;
	--lwt-toolbarbutton-hover-background: var(--toolbarbutton-hover-background) !important;
	--lwt-toolbar-field-background-color: var(--ui-background) !important;
}

.autocomplete-richlistitem .ac-url {
	color: var(--ui-faded-text) !important;
	opacity: 0.6 !important;
}

/*
Searchbar in overflow menu normally switches from these variables to hardcoded
values. Manually remind it of the variables it should normally be using.
 */
#searchbar {
	background-color: var(--lwt-toolbar-field-background-color) !important;
	color: var(--lwt-toolbar-field-color) !important;
}

#urlbar,
#searchbar,
.findbar-textbox {
	border-color: var(--ui-border) !important;
}
#urlbar,
#searchbar,
findbar {
	--toolbarbutton-border-radius: 0px !important;
	transition: 0.1s;
	transition-property: border-color;
	background-image: none !important;
	box-shadow: none !important;
	min-height: var(--compact-urlbar-min-height) !important;
}

#urlbar[focused],
.findbar-textbox[focused],
.searchbar-textbox[focused] {
	border-color: var(--ui-accent) !important;
}

#urlbar[breakout][breakout-extend] {
	width: 100% !important;
	/* height: var(--urlbar-height) !important; */
	top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
	left: 0 !important;
}

#urlbar-input-container {
	height: 100% !important;
	/* padding-top: 1px !important; */
	padding-bottom: 0 !important;
	padding-block: 0 !important;
	padding-inline: 0 !important;
}

/*Reduce distracting addon button colors*/
#navigator-toolbox .webextension-browser-action .toolbarbutton-icon {
	filter: grayscale(100%) brightness(180%) opacity(70%) !important;
}

#navigator-toolbox .toolbarbutton-1:hover .toolbarbutton-badge-stack {
	border: 0 solid var(--ui-accent) !important;
}

#navigator-toolbox .toolbarbutton-1:hover .toolbarbutton-badge-stack {
	--toolbarbutton-inner-padding: 5px !important;
	border-width: 1px !important;
}

.tab-background,
.tab-stack,
.tabbrowser-tab {
	border: none !important;
	border-width: 0 !important;
}

/* Center all inside tab */
.tab-content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100% !important;
	padding: 0 10px !important;
}

/* Prevent tab icons size breaking */
.tab-icon-image, .tab-icon-sound, .tab-throbber, .tab-throbber-fallback, .tab-close-button {
	min-width: var(--tab-icon-dimension) !important;
	width: var(--tab-icon-dimension) !important;
	height: var(--tab-icon-dimension) !important;
}

/* Adjust tab label width */
.tab-label-container {
	min-width: 0 !important;
}

/* Put tab close button and icon sound to the right */
.tab-icon-sound[soundplaying="true"], .tab-icon-sound[muted="true"],
.tab-icon-sound[activemedia-blocked="true"] {
	margin-left: auto !important;
}
.tabbrowser-tab:not([soundplaying]):not([muted]):not([activemedia-blocked]) .tab-close-button {
	margin-left: auto !important;
}

/* Force tab favicon to the center */
.tab-throbber, .tab-throbber-fallback {
	margin-left: auto;
}
.tabbrowser-tab:not([busy]) .tab-icon-image {
	margin-left: auto;
}

/* If tab favicon is not present, force tab label to the center */
.tabbrowser-tab .tab-label-container {
	margin-left: 0 !important;
}
.tabbrowser-tab:not([image]):not([busy]):not([progress]) .tab-label-container {
	margin-left: auto !important;
}

/* If tab close button is not present, don't force favicon to the center */
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber-fallback {
	margin-left: 0 !important;
}

#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([busy]) .tab-icon-image,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([image]) .tab-label-container {
	margin-left: 6px !important;
}

/* Close tab button */
.tab-close-button {
	/* border: 1px solid transparent; */
	box-sizing: content-box; /* Avoid deformation on flexbox */
	/* list-style-image: url("moz-icon://stock/window-close-symbolic?size=dialog") !important; */
	height: var(--tab-icon-dimension);
	opacity: .8;
	padding: 2px;
	width: var(--tab-icon-dimension);
}

/*hide stuff*/
#forward-button, #back-button,
.urlbar-go-button, .search-go-button, .urlbar-history-dropmarker, #urlbar *|*.textbox-input::placeholder,
#pocket-button-box, #pageActionSeparator, #pageActionButton,
#context-sendpagetodevice, #context-sep-sendpagetodevice, #context-sep-sendlinktodevice, #context_sendTabToDevice, #context_sendTabToDevice_separator,
#appMenu-fxa-container, #appMenu-fxa-container+toolbarseparator, #appMenu-update-available-notification,
#PanelUI-button,
#identity-icon-labels, #identity-icon,
#userContext-indicator.identity-icon-circle, #tabContextMenu .menu-iconic-icon,
#TabsToolbar #window-controls, #TabsToolbar .titlebar-spacer,
/* .findbar-closebutton, */
#overflowMenu-customize-button,
/*Search engines in urlbar dropdown*/
.search-one-offs,
/*Compact sidebar header*/
#sidebar-box #sidebar-header #sidebar-close, #sidebar-box #sidebar-header #sidebar-switcher-target #sidebar-switcher-arrow, #urlbar[pageproxystate="invalid"]>#identity-box,
/* Circle container indicator */
#userContext-indicator[data-identity-icon="circle"],
/* urlbar magnifying glass icon */
#identity-box.unknownIdentity > .identity-icon,
#titlebar-placeholder-on-TabsToolbar-for-captions-buttons, .titlebar-buttonbox-container, .titlebar-spacer
{
	display: none !important;
	visibility: collapse !important;
}

#identity-box {
	padding: -8px 0 !important;
	border: none !important;
	margin: -8px 0 !important;
	line-height: 0 !important;
	transform: scale(.75, .75) !important;
}
#identity-box:hover {
	background-color: transparent !important;
}
#urlbar:not([focused]) #identity-box #connection-icon {
	fill: var(--ui-lightest) !important;
	opacity: 1 !important;
}

#urlbar[focused] #identity-box #connection-icon {
	fill: var(--ui-accent) !important;
}

/*Tabs on bottom*/

#TabsToolbar,
.tabbrowser-tab .tab-line {
	-moz-box-ordinal-group: 2 !important;
}
#nav-bar {
	-moz-box-ordinal-group: 0 !important;
}
#navigator-toolbox {
	-moz-box-ordinal-group: 1 !important;
	background-color: none !important;
}
/*Lighten tab separators*/

/*Remove extra 1px space before 1st tab and after last tab*/

.tabbrowser-tab[first-tab="true"] .tab-background {
	border-left-width: 0 !important;
}

.tabbrowser-tab[first-tab="true"]::before, .tabbrowser-tab[last-tab="true"]::after {
	display: none !important;
	border-color: transparent !important;
	border-image: none !important;
}

.tabbrowser-tab[last-tab="true"] .tab-background {
	border-right-width: 0 !important;
}


/*tab-line is to bright. Reduce its opacity a bit*/

.tabbrowser-tab .tab-line {
	opacity: 0.75 !important;
}

/*Fatten selected line when hovered*/
.tabbrowser-tab[selected]:hover .tab-line {
	height: 3px !important;
	opacity: 1 !important;
}

/*Hide new tab favicon*/

.tabbrowser-tab[label="New Tab"] .tab-icon-image {
	display: none !important;
}

/*----Container tweaks----*/

/*hide the circle icon in the URL bar and color the indicator*/

#userContext-icons {
	background: var(--identity-tab-color) !important;
	margin: auto 3px !important;
	padding: 0 2px 0 5px !important;
	height: calc(var(--compact-urlbar-min-height) - 2px)
}

#userContext-label {
	color: #fff !important;
}

#userContext-indicator {
	fill: #fff !important;
	margin-right: 2px!important;
}

/*Color mods*/

/*Change the color of the tab line of container tabs*/
.tabbrowser-tab:not([usercontextid]) .tab-line[selected="true"] {
	--tab-line-color: var(--ui-accent) !important;
}

.tabbrowser-tab[usercontextid] .tab-line {
	--tab-line-color: var(--identity-tab-color) !important;
}
.tabbrowser-tab[usercontextid]:not([selected]):hover .tab-line {
	opacity: 0.5 !important;
	background-color: var(--identity-tab-color) !important;
}

/*Color the tab throbber and tab burst*/

.tabbrowser-tab[usercontextid] {
	--tab-loading-fill: var(--identity-tab-color) !important;
}

/*Hide the standard container indicators of unfocused tabs*/
.tabbrowser-tab:hover .tab-bottom-line,
.tabbrowser-tab[selected] .tab-bottom-line {
	display: none !important;
}

/*Make tab bottom line less distracting*/

.tab-bottom-line {
	opacity: 0.4 !important;
	margin-bottom: -2px !important;
	padding: 0 !important;
}

/*Smaller tab font*/

.tabbrowser-tab label {
	font-size: 90% !important;
}

/*More compact sidebar header*/

#sidebar-box #sidebar-header {
	padding: 0 !important;
	margin-left: 0 !important;
	font-size: 1.15em !important;
	line-height: 1em !important;
	font-weight: inherit !important;
	border-bottom-color: transparent !important;
}

#sidebar-box #sidebar-header #sidebar-icon {
	opacity: 0 !important;
	width: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

#sidebar-box #sidebar-header #sidebar-switcher-target {
	margin-left: -2px !important;
	padding: 0 !important;
}

.sidebar-splitter {
	width: 3px !important;
	border-color: var(--ui-darkcolor) !important;
	background-color: var(--ui-darkcolor) !important;
}

:root[uidensity=compact] #nav-bar .toolbarbutton-1 {
	padding-left: 2px !important;
	padding-right: 2px !important;
}

.box-inherit .scrollbox-innerbox {
	margin-right: 0 !important;
	border: none !important;
	background-color: var(--ui-basecolor) !important;
}

/* Allow arrowscrollbox to collapse when only one tab is visible */

tab:only-of-type {
	display: none !important;
	visibility: collapse !important;
}

#tabbrowser-tabs,
#tabbrowser-tabs arrowscrollbox,
#TabsToolbar {
	height: initial !important;
	min-height: initial !important;
	padding-inline-start: 0 !important;
	padding-inline-end: 0 !important;
	background-color: var(--arrowpanel-background) !important;
}

/* Keep tab height from collapsing due to the above */
tab > stack {
	height: var(--tab-min-height) !important;
}

/*Disable White Flash of Death*/
#browser vbox#appcontent tabbrowser,
#content,
browser[type="content-primary"],
tabbrowser-tabpanels,
browser[type=content-primary],
#appcontent > #content,
browser[type=content] > html,
.browserContainer {
	background-color: var(--ui-background) !important;
}

/*--More options for Bookmark panel--*/

#editBMPanel_descriptionRow,
#editBMPanel_keywordRow,
#editBMPanel_loadInSidebarCheckbox,
#editBMPanel_locationRow {
	visibility: visible;
}

/*
 * Compact findbar at the top of the window
 * Based on code by Madis0@github.com
 */

.browserContainer > findbar {
	background-color: var(--ui-basecolor) !important;
	-moz-box-ordinal-group: 0;
	position: fixed !important;
	right: 0em;
	border: 1px solid var(--chrome-content-separator-color) !important;
	border-top: none !important;
	/* Hide top border by removing the box-shadow and background-image */
	/* border-top: none !important; */
	box-shadow: none !important;
	background-image: none !important;
	opacity: 0.9;
	/* Uncomment to add a transition from the top */
	transition: 400ms !important;
	z-index: 0 !important;
}
.findbar-find-next,
.findbar-find-previous {
	background: transparent !important;
	color: inherit !important;
}

/* Margin from top when hidden (necessary for the transition to work) */

/*findbar[hidden]{ margin-top: -2em !important; }*/

/* Aligns the close button to the center */

.findbar-closebutton {
	margin-inline-start: 0.5em !important;
	vertical-align: middle !important;
	margin-bottom: 0.25em !important;
	height: inherit !important;
}

/*make tabs wider*/
.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 100% !important;
}

/* Fix autocomplete being below the active tab */

.tabbrowser-tab[visuallyselected="true"] {
	z-index: 0 !important;
}

