[Desktop Entry]
Version=0.8.1
Type=Application
Name=st
GenericName=Terminal emulator
Comment=a simple terminal implementation for X
Exec=st %U
Icon=st
Categories=System;TerminalEmulator;
